# --- IDE / Editor ---
.idea/
.vscode/

# --- Golang ---
# Protobuf artifacts
*.pb.go
*.pb.validate.go

# --- Database ---
# SQLite
*.sqlite3

# --- Node ---
# Package stores
.pnpm-store/
node_modules/
